@import "../../assets/variables.scss";

.shopping-cart-body {
  min-height: 90vh;
}
.shopping-cart {
  margin: 20px 0 20px 0;
  border: 5px solid $border-background-color;
  h1 {
    margin: 25px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    justify-content: space-around;
    width: 80vw;
  }

  .cardDetails {
    margin-top: 100px;
    h4 {
      margin-bottom: 20px;
      font-size: 2em;
    }
    > div {
      display: flex;
      justify-content: space-between;
    }

    button {
      font-size: 1.5em;
      border: none;
      padding: 10px 25px;
      margin: 0 5px;
      color: white;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
    button:nth-child(1) {
      background: $primary-color;

      &:hover {
        background: rgb(150, 2, 2);
      }
    }
    .checkout {
      background: $secondary-color;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        background: #043843;
      }
    }
  }
}
