.bannerTwo-container {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  img {
    width: 50%;
    border-radius: 10px;
    @media (max-width: 800px) {
      width: 100%;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  h1 {
    font-size: 2em;
    @media (max-width: 800px) {
      font-size: 1em;
    }
  }
  p {
    color: rgb(124, 124, 124);
    font-size: 1.5em;
    @media (max-width: 800px) {
      font-size: 1em;
    }
  }
  h1,
  p {
    margin-bottom: 20px;
    @media (max-width: 800px) {
      margin-bottom: 5p;
    }
  }

  button {
    background: red;
    color: white;
    font-family: "Days One", sans-serif;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 40px;

    &:hover {
      background: rgb(150, 2, 2);
    }
  }
}
