@import "../../assets/variables.scss";

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 250px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 10px;
  border: 2px solid $border-background-color;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    transform: scale(1.02);
  }
  a {
    text-decoration: none;
  }

  @media (max-width: 1220px) {
    width: 200px;
    height: 300px;
    h2,
    p,
    .price {
      font-size: 0.9em;
    }
  }
  @media (max-width: 620.98px) {
    height: 250px;
    width: 174px;
    h2,
    p,
    .price {
      font-size: 0.7em;
    }
  }

  .favouriteIcon {
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgba(65, 65, 65, 0.205);
    cursor: pointer;
    font-size: 2em;
    @media (max-width: 620.98px) {
      font-size: 1em;
    }
  }
  .favouriteIcon-active {
    color: red;
  }

  .img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    @media (max-width: 1220px) {
      width: 150px;
      height: 150px;
      border: 2ox solid red;
    }

    @media (max-width: 991.98px) {
      height: 150px;
      width: 125px;
    }
    @media (max-width: 620.98px) {
      height: 100px;
      width: 100px;
    }
  }
  h2 {
    font-size: 1.2em;
    line-height: 1.3em;
    min-height: 2.6em;
    text-align: center;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 20px;
  }

  .description-container {
    margin: 10px 0;
    width: 90%;
    font-size: 0.9em;
    color: #666666;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    strong {
      color: $secondary-color;
    }
  }
}
