@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

.navbar {
  position: sticky;
  z-index: 50;
  top: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Days One", sans-serif;
  background: white;

  a {
    text-decoration: none;
  }

  h1 {
    font-family: "Nosifer", cursive;
    color: red;
  }

  .computer-nav-links {
    display: flex;

    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

.menu-bars,
.nav-icons {
  font-size: 2rem;
  background: none;
}

.nav-icons:hover {
  cursor: pointer;
}
.menu-bars {
  display: none;
  @media (max-width: 991.98px) {
    display: flex;
  }
}
.side-menu {
  background-color: #680211;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.side-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar-text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;

  &:hover {
    background-color: red;
    color: white;
  }
}

.side-menu-items {
  width: 100%;
}

.sidebar-toggle {
  background-color: #680211;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.saved-items-container {
  position: relative;
  z-index: 1;

  &:hover .saved-items {
    display: block;
  }

  h1 {
    color: black;
    font-family: "Days One", sans-serif;
    font-size: 0.7em;
    background: red;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }

  .saved-items {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 350px;
    height: 50vh;
    background: rgb(228, 227, 227);
    border-radius: 10px;
    box-shadow: 00 4px 20px rgb(82, 82, 82);
    display: none;
    overflow-y: scroll;
    font-size: 0.7em;

    h1 {
      font-size: 2em;
    }

    .image {
      height: 100px;
      width: 75px;
      margin-right: 10px;
    }

    p {
      width: 150px;
      color: rgb(126, 125, 125);
      font-size: 0.9em;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    ul {
      padding: 20px;
    }
    li {
      display: flex;
      padding: 20px 0;
      width: 300px;
      list-style: none;

      border-bottom: red 2px solid;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .deleteIcon {
        font-size: 2em;
        margin-top: 50px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .add-to-bag-button {
      margin-top: 2%;
      color: white;
      background: #087186;
      padding: 5px 5px;
      width: 60%;
      border: none;
      &:hover {
        cursor: pointer;
        background: #066174;
      }
    }
  }

  .empty-chest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;

    h2 {
      margin-bottom: 20px;
    }
  }
  .empty-chest {
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
  }
}
