@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");

$primary-color: red;
$primary-hover-color: rgb(150, 2, 2);
$secondary-color: #087186;
$secondary-hover-color: #055362;
$border-background-color: #f1f1f1;
$button-color: rgb(27, 146, 27);
$font-primary: "Days One", sans-serif;
