@import "../../../assets/variables.scss";

.carousel-container {
  position: relative;
  z-index: 1;
  background: $border-background-color;
  width: 90vw;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 900px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  > h1 {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.alice-carousel__dots {
  height: fit-content;
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  font-weight: 900;
  font-size: 60px;
  z-index: 20;
  position: absolute;
  top: 40%;
  span {
    border-radius: 50%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.alice-carousel__prev-btn-item {
  left: -35px;
}

.alice-carousel__next-btn-item {
  right: -35px;
}
