@import "../../../assets/variables.scss";

.carousel-container {
  position: relative;
  z-index: 1;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $border-background-color;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  h1 {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.alice-carousel__dots {
  height: fit-content;
}

.alice-carousel__prev-btn-item {
  font-weight: 900;
  font-size: 60px;
  z-index: 20;
  position: absolute;
  left: -50px;
  top: 50%;
  color: red;
  text-align: center;
}

.alice-carousel__next-btn-item {
  font-size: 60px;
  font-weight: 900;
  z-index: 20;
  position: absolute;
  right: -25px;
  top: 50%;
  color: red;
}

.alice-carousel__next-btn-item.__inactive,
.alice-carousel__prev-btn-item.__inactive {
  color: red;
}
